.container {
  max-width: 70%;
}

.blog_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.content {
  margin-top: 10px;
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 10px;
}
