/* @import url('https://use.typekit.net/ect8fwn.css'); */

body {
    margin: 10px 35px;
    position: relative;
}

p, h1, h2, h3, h4, h5, h6, a {
    color: black;
    font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

p, a {
    font-size: 20px;
}

.light {
    font-weight: 300;
}

button {
    background-color: black;
    color: white;
    border: 1.5px solid black;
    font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    font-size: 20px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

select {
    padding: 10px 30px;
    border: 1.5px solid black;
    font-weight: 600;
    font-family: "articulat-cf", sans-serif;
    font-size: 20px;
}

input {
    padding: 10px 20px;
    border: 1.5px solid black;
    font-weight: 600;
    font-family: "articulat-cf", sans-serif;
    font-size: 20px;
    transition-duration: 0.3s;
}

input:hover {
    border: 1.5px solid gray;
}

input:focus {
    border: 1.5px solid #6E9FF5;
    outline: none;
    border-radius: 0;
}