.position_container {
  padding: 10px;
  border: 1.5px solid black;
  flex: 1 1 200px;
  box-sizing: border-box;
  max-width: 400px;
}

.position_container p {
  margin-top: 0;
}

.position_container_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.position_container_top div p {
  margin-bottom: 5px;
}

.color_bubble {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.position_input {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}
